div.navigation{
    position:fixed;
    top: 0px;
    left: 0px;
    background-color: rgb(255, 0, 0);
    display: block;
    width: 100vw;
    height: 4 rem;
    margin: auto;
    border-radius: 100px;
}
div#profile{
    display: inline-block;
    color: rgb(255, 255, 255);
    margin: 15px 100px 20px 50px;
    font-size: 2em;
}