body{
    background-color:rgb(14, 17, 49);
    color:rgb(255, 255, 255);
    font-family: 'Rubik', sans-serif;
}
*{
    margin: 0;
    padding: 0;
}
nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 40px;
    background-color: rgb(44, 3, 92);
}
nav ul{
    display: flex;
    justify-content: center;
}
nav ul li{
    list-style: none;
    margin: 0 20px;

}
nav ul li a{
    text-decoration: double;
    font-weight:500;
    color: white;
}
nav ul li a:hover{
    font-size: 1.02rem;
    color: rgb(157, 255, 255);
}
.left{
    font-size: 1.5rem;
    font-weight: 500;
}
.firstSection{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 110px 0;
}
.firstSection > div{
    width: 35%;
}
.secondSection h1{
    font-size: 1.6rem;
}
.secondSection{
    max-width: 80vw;
    margin: 35px 75px;
}
.leftSection{
    font-size: 2.7rem;
    font-weight:400;

}
.rightSection img{
    width: 110%;
    margin: 35px 0;
}
.myName{
    color: rgb(0, 183, 255);
}
#element{
    color: rgb(258, 208, 60);
}
main hr{
    border: 0;
    background: rgb(142, 213, 247);
    height: 1.2px;
    margin: 40px 50px;
}