@use '../../../Graphics/globals';

$primary-color: globals.$brand_color_1;
$secondary-color: globals.$brand_color_2;
$normal_color: rgb(255, 255, 255);

$color_1: rgb(238, 238, 238);
$color_2: globals.$brand_color_3;
$font-family_1: "Rubik", sans-serif;
$background-color_1: rgb(14, 17, 49);
$background-color_2: rgb(0 90 255 / 69%);
$background-color_3: rgb(157, 255, 255);
$border-color_1: aqua;

body {
	background-color: $background-color_1;
	color: $normal_color;
	font-family: $font-family_1;
}
* {
	margin: 0;
	padding: 0;
}
nav {
	display: flex;
	justify-content: space-around;
	align-items: center;
	height: 40px;
	background-color: $background-color_2;
	ul {
		display: flex;
		justify-content: center;
		li {
			list-style: none;
			margin: 0 20px;
			a {
				text-decoration: double;
				font-weight: 500;
				color: $color_1;
				&:hover {
					font-size: 1.02rem;
					color: $primary-color;
				}
			}
		}
	}
}
.left {
	font-size: 1.5rem;
	font-weight: 500;
}
.right {
	padding-top: 1%;
}
.switch-title {
    color: $normal_color;
}
.form-control::placeholder {
    color: $color_2;

}
.form-control::-ms-input-placeholder {
    color: $color_2;
}
input.mail#mail_me {
    border-color: $color_2;
    background-color: globals.$brand_color_4;
}
main {
	margin-bottom: 200px;
	hr {
		border: 0;
		background: $color_2;
		height: 1.2px;
		margin: 40px 50px;
	}
}
.firstSection {
	display: flex;
	justify-content: space-around;
	align-items: center;
	margin: 110px 0;
	>div {
		width: 35%;
	}
}
.secondSection {
	h1 {
		font-size: 1.6rem;
        color: $color_2;
	}
	max-width: 80vw;
	margin: 35px 75px;
	.box {
		background: rgb(157, 255, 255);
		width: 85vw;
		height: 1.5px;
		margin: 95px 0;
		display: flex;
	}
	.vertical {
		height: 75px;
		width: 1px;
		background-color: $background-color_3;
		margin: 0 100px;
	}
}
.leftSection {
	font-size: 2.7rem;
	font-weight: 400;
}
.rightSection {
	img {
		width: 110%;
		margin: 35px 0;
	}
}
.myName {
	color: $secondary-color;
}
#element {
	color: $primary-color;
}
.grey {
	color: $secondary-color;
}
div {
	.swipebox {
		border-width: 2px;
		border-color: $border-color_1;
	}
}
