<!DOCTYPE html>
<html lang="en">
<head>
</head>
<body>
    <header class="header">
        <nav>
            <div class="left">YashGames2007</div>
            <di class="right">
                <ul>
                    <li><a class="nav_anchor" href="/Web devolopment/Projects/Personal Portfolio Website/index.html"><span id="nav_home">Home</span></a></li>
                    <li><a class="nav_anchor" href="/Web devolopment/Projects/Personal Portfolio Website/Pages/Projects/projects.html"><span id="nav_projects">Projects</span></a></li>
                    <li><a class="nav_anchor" href="/Web devolopment/Projects/Personal Portfolio Website/Pages/Resources/resources.html"><span id="nav_resources">Resources</span></a></li>
                    <li><a class="nav_anchor" href="/Web devolopment/Projects/Personal Portfolio Website/Pages/Downloads/downloads.html"><span id="nav_downloads">Downloads</span></a></li>
                    <li><a class="nav_anchor" href="/Web devolopment/Projects/Personal Portfolio Website/Pages/About/about.html"><span id="nav_about">About</span></a></li>
                    </div>
    </header>
</body>
</html>