<!DOCTYPE html>
<html lang="en">
<head>
</head>
<body>
    <header class="header">
        <nav>
            <div class="left">
                <img id="on-page-logo" class="profile" src="/Graphics/profile_logo.png" alt="">
                <a class="profile" href="/index.html">YashGames2007</a>
            </div>
            <div>
                <a id="menu-icon" class="menu-icon" onclick="onMenuClick()">
                    <i class="fa fa-bars"></i>
                </a>
            </div>
            <div id="navigation-bar" class="right nav-bar">
                <ul>
                    <li><a class="nav_anchor" href="/index.html"><span id="nav_home">Home</span></a></li>
                    <li><a class="nav_anchor" href="/Pages/Projects/projects.html"><span id="nav_projects">Projects</span></a></li>
                    <li><a class="nav_anchor" href="/Pages/Resources/resources.html"><span id="nav_resources">Resources</span></a></li>
                    <li><a class="nav_anchor" href="/Pages/Downloads/downloads.html"><span id="nav_downloads">Downloads</span></a></li>
                    <li><a class="nav_anchor" href="/Pages/About/about.html"><span id="nav_about">About</span></a></li>
                </ul>
                <div class="toggleWrapper">
                    <input type="checkbox" class="dn" id="dn" onchange="switchTheme()"/>
                    <label for="dn" class="toggle">
                      <span class="toggle__handler">
                        <span class="crater crater--1"></span>
                        <span class="crater crater--2"></span>
                        <span class="crater crater--3"></span>
                      </span>
                      <span class="star star--1"></span>
                      <span class="star star--2"></span>
                      <span class="star star--3"></span>
                      <span class="star star--4"></span>
                      <span class="star star--5"></span>
                      <span class="star star--6"></span>
                    </label>
                </div>
            </div>
        </nav>
    </header>
</body>
</html>