<!DOCTYPE html>
<html lang="en">
<head>
</head>
<body>
    <header class="header">
        <nav>
            <div class="left">
                <img class="profile" src="/Web devolopment/Projects/Personal Portfolio Website/Graphics/profile_logo.png" alt="">
                <a class="profile" href="/Web devolopment/Projects/Personal Portfolio Website/index.html">YashGames2007</a>
            </div>
            <div>
                <a id="menu-icon" class="menu-icon" onclick="onMenuClick()">
                    <i class="fa fa-bars"></i>
                </a>
            </div>
            <div id="navigation-bar" class="right nav-bar">
                <ul>
                    <li><a class="nav_anchor" href="/Web devolopment/Projects/Personal Portfolio Website/index.html"><span id="nav_home">Home</span></a></li>
                    <li><a class="nav_anchor" href="/Web devolopment/Projects/Personal Portfolio Website/Pages/Projects/projects.html"><span id="nav_projects">Projects</span></a></li>
                    <li><a class="nav_anchor" href="/Web devolopment/Projects/Personal Portfolio Website/Pages/Resources/resources.html"><span id="nav_resources">Resources</span></a></li>
                    <li><a class="nav_anchor" href="/Web devolopment/Projects/Personal Portfolio Website/Pages/Downloads/downloads.html"><span id="nav_downloads">Downloads</span></a></li>
                    <li><a class="nav_anchor" href="/Web devolopment/Projects/Personal Portfolio Website/Pages/About/about.html"><span id="nav_about">About</span></a></li>
                </ul>
            </div>
        </nav>
    </header>
</body>
</html>