<!DOCTYPE html>
<html lang="en">
<head>
</head>
<body>
    <footer class="new_footer_area bg_color">
        <div class="new_footer_top">
            <div class="container">
                <div class="row">
                    <div class="col-lg-3 col-md-6">
                        <div class="f_widget about-widget pl_70 wow fadeInLeft" data-wow-delay="0.2s"
                            style="visibility: visible; animation-delay: 0.2s; animation-name: fadeInLeft;">
                            <h3 class="f-title f_600 t_color f_size_18">Get in Touch</h3>
                            <ul class="list-unstyled f_list">
                                <p>Visit my Profile on different sources.</p>
                                <li><a target="_blank" href="https://twitter.com/YashGames2007">X (Twitter)</a></li>
                                <li><a target="_blank" href="https://www.threads.net/@yashbhavsar.dev2007">Threads</a></li>
                                <li><a target="_blank" href="https://discord.gg/DNHVRrex">Discord</a></li>
                                <li><a target="_blank" href="https://stackoverflow.com/users/17628133/yashgames2007">StackOverFlow</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6">
                        <div class="f_widget about-widget pl_70 wow fadeInLeft" data-wow-delay="0.4s"
                            style="visibility: visible; animation-delay: 0.4s; animation-name: fadeInLeft;">
                            <h3 class="f-title f_600 t_color f_size_18">Downloads</h3>
                            <ul class="list-unstyled f_list">
                                <li><a target="_blank" href="#">Projects</a></li>
                                <li><a target="_blank" href="#">PDF Books</a></li>
                                <li><a target="_blank" href="#">Source Code</a></li>
                                <li><a target="_blank" href="#">Handwritten Notes</a></li>
                                <li><a target="_blank" href="#">Other Study Material</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6">
                        <div class="f_widget about-widget pl_70 wow fadeInLeft" data-wow-delay="0.6s"
                            style="visibility: visible; animation-delay: 0.6s; animation-name: fadeInLeft;">
                            <h3 class="f-title f_600 t_color f_size_18">Support</h3>
                            <ul class="list-unstyled f_list">
                                <li><a target="_blank" href="#">Term &amp; conditions</a></li>
                                <li><a target="_blank" href="#">Report an Issue / Suggest a Feature</a></li>
                                <li><a target="_blank" href="#">Documentation</a></li>
                                <li><a target="_blank" href="#">Website Policy</a></li>
                                <li><a target="_blank" href="#">Privacy Statement</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6">
                        <div class="f_widget social-widget pl_70 wow fadeInLeft" data-wow-delay="0.8s"
                            style="visibility: visible; animation-delay: 0.8s; animation-name: fadeInLeft;">
                            <h3 class="f-title f_600 t_color f_size_18">Team Solutions</h3>
                            <div class="f_social_icon">
                                <p>To connect with me, follow me on various social media platforms below.</p>

                                <!-- 
                                    List of Socials:

                                    Linked-In
                                    Github
                                    StackOverFlow
                                    X (Twitter)
                                    Threads
                                    Youtube
                                    Telegram
                                    Skype
                                    Discord
                                    Reddit
                                 -->
                                 <a target="_blank" href="https://www.linkedin.com/in/YashGames2007" class="fa fa-linkedin"></a>
                                <a target="_blank" href="https://github.com/YashManojraoBhavsar" class="fa fa-github"></a>
                                <a target="_blank" href="https://stackoverflow.com/users/17628133/yashgames2007" class="fa fa-stack-overflow"></a>
                                <!-- <a target="_blank" href="#" class="fa fa-twitter-x"></a> -->
                                <!-- <a target="_blank" href="#" class="fa fa-threads"></a> -->
                                <a target="_blank" href="https://youtube.com/@YashBhavsar2007?si=HKqGg4ZSnVnSoDVr" class="fa fa-youtube-play"></a>
                                <a target="_blank" href="https://t.me/YashGames2007" class="fa fa-telegram"></a>
                                <a target="_blank" href="https://join.skype.com/invite/rHHzbUEDSmDJ" class="fa fa-skype"></a>
                                <!-- <a target="_blank" href="#" class="fa fa-discord"></a> -->
                                <a target="_blank" href="https://www.reddit.com/user/YashGames2007" class="fa fa-reddit-alien"></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="footer_bg">
                <div class="footer_bg_one"></div>
                <div class="footer_bg_two"></div>
            </div>
        </div>
        <div class="footer_bottom">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-lg-6 col-sm-7">
                        <p class="mb-0 f_400">© YashGames2007 Inc.. 2023 All rights reserved.</p>
                    </div>
                    <div class="col-lg-6 col-sm-5 text-right">
                        <p>Made by YashGames2007</p>
                    </div>
                </div>
            </div>
        </div>
    </footer>
</body>
</html>