$brand_color_1: rgb(255, 154, 60);
$brand_color_2: rgb(0, 238, 255);
$brand_color_3: rgb(159, 146, 231);
$brand_color_4: rgb(38 29 112);
$bg_color_light_1: rgb(184, 185, 197);
$bg_color_light_2: rgb(148, 141, 212);
$bg_color_dark_1: rgb(14, 17, 49);
$bg_color_dark_2: rgb(20 14 70);
$bg_color_current_1: $bg_color_light_1;
$bg_color_current_2: $bg_color_light_2;