$brand_color_1: rgb(255, 154, 60);
$brand_color_2: rgb(0, 238, 255);
$brand_color_2-2: rgb(136, 0, 255);
$brand_color_2-3: rgb(4, 67, 190, 75%);
$brand_color_3: rgb(159, 146, 231);
$brand_color_4: rgb(38 29 112);
$bg_color_light_1: rgb(255, 255, 255);
$bg_color_light_2: rgba(238, 237, 242, 0.75);
$bg_color_dark_1: rgb(14, 17, 49);
$bg_color_dark_2: rgba(20, 14, 70, 0.35);
$bg_color_current_1: $bg_color_light_1;
$bg_color_current_2: $bg_color_light_2;